#countDown-container {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.time-container {
  display: flex;
  background-color: aqua;
}

.time {
    font-size: 3rem;
    margin: 1rem;
    font-family: 'Anton', sans-serif;
}

.semicolon {
  margin-left: 1rem;
  margin-right: 1rem;
}

#btn-container {
  display: flex;
  margin-top: 2rem;
}

.time-btn {
  border: none;
  width: 6rem;
  height: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
}